.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home-card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-card {
  margin: 0 auto;
}

.home-card_img {
  width: 100px;
  height: 100px;
}
